# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
venv/
.env

# Node
node_modules/
npm-debug.log*

# Electron build
dist/
out/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local settings
config.json
reports/